@import 'tooltipped';
@import 'toggle';

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #00b7ff;
}

html, body, #app, main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

html {
  border: 10px dashed #efefef;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #444;
}

main {
  flex: 1;
}

a {
  color: var(--color-primary);
}

#app > header {
  display: flex;
  justify-content: space-between;
}

.zip-toggle {
  align-self: flex-end;
  margin-bottom: 0.5rem;
}

.shell-script {
  cursor: pointer;
  appearance: none;
  border: 0;
  background: none;
  font: inherit;
  padding: 0;
}

.shell-script-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgba(23,23,23,.3);
}
.shell-script-dialog > pre {
  background: #fff;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,.5);
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
}
.shell-script-dialog > pre > code {
  display: block;
  padding: 1rem;
  overflow: auto;
  max-height: 100%;
}
.shell-script-dialog > pre::before {
  content: 'tmpy.sh';
  position: absolute;
  top: 0;
  right: 0;
  background: #eee;
  padding: 2px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.copy {
  cursor: pointer;
  margin-left: 0.5rem;
  border: none;
  background: transparent;
  padding: 0;
  animation: fade-in 0.2s forwards;
}

#drop {
  flex: 1;
  display: flex;
  contain: strict;
  min-height: 128px;
  justify-content: center;
  align-items: center;
  border: 3px dashed #d4d2d2;
  position: relative;
  cursor: pointer;
  background-color: #efefef;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#drop:hover {
  background-color: #e6e6e6;
  border: 3px dashed #b9b9b9;
}

#drop > input {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  visibility: hidden;
}

.drag-over {
  background: #efe;
}

#drop:hover .drop-hint {
  background: #d4d2d2;
  padding: 1rem;
  border-radius: 2px;
  color: #444;
}
.drop-hint {
  transition: all .2s ease;
}

ul.file-list {
  list-style: none;
  padding-left: 0;
}

@keyframes new-file-fadein {
  from {
    opacity: 0;
    transform: translateX(-2rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes new-file-background {
  from {
    background-color: yellow;
  }

  to {
    background-color: transparent;
  }
}

.file-list > li {
  margin: .2rem 0;
  animation: new-file-background 1s, new-file-fadein 0.2s;
}

.file-list .tmpy-progress {
  margin-right: 0.5em;
}

.tmpy-progress {
  display: inline-block;
  min-width: 200px;
  position: relative;
  background-color: #eee;
  text-align: center;
}
.tmpy-progress::before {
  transition: background-color 100ms, width 50ms;
  z-index: 0;
  content: '';
  width: var(--percent, 0);
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.tmpy-progress.indeterminate::before {
  background-color: #dd9;
}
.tmpy-progress-load::before {
  background-color: #ea0;
}
.tmpy-progress-zip::before {
  background-color: #ee0;
}
.tmpy-progress.completed::before {
  background-color: #4e4;
}
.tmpy-progress > * {
  position: relative;
}

.tmpy-file {
  display: flex;
  align-items: center;
}

.tmpy-file::before {
  margin-right: 0.2rem;
}

.tmpy-file-queue::before {
  content: '⌛';
}

.tmpy-file-load::before {
  content: '🔍';
}

.tmpy-file-zip::before {
  content: '🗜️'; // compress
  content: '📦'; // pack
}

.tmpy-file-upload::before {
  content: '⏫';
}

.tmpy-file-complete::before {
  content: '▪';
}

.tmpy-progress {
  max-width: 100%;
  min-width: 50%;
  text-align: left;
  padding: .1rem .2rem;
}
