<header>
  <h1>tmpy - Sharing temporary files</h1>
  <p>Welcome to your friendly file sharing app</p>
</header>
<main>
  <p>
    <small>Files are deleted automatically 15 minutes after the upload</small>
  </p>
  <file-list @tmpyFiles={{tmpyFiles}}></file-list>
  <file-upload @onUpload={{action onUpload}}></file-upload>
</main>